-content_for :header do
  = auto_discovery_link_tag :rss, :controller => 'events', :format => 'rss', :tags => @tag.name

%h1= h @tag.name 

.contextmenu
  .balancer
  - if logged_in?
    - if current_user.tags.include? @tag 
      = link_to t(".contextmenu.unsubscribe"), :controller => :users, :action => :del_tag, :id => current_user, :tag => @tag
    - else
      = link_to t(".contextmenu.subscribe"), :controller => :users, :action => :add_tag, :id => current_user, :tag => @tag
    |
  = link_to t(".contextmenu.whatis",:tag => @tag.name), 'http://de.wikipedia.org/wiki/Spezial:Suche?search=' + @tag.name + '&go=Artikel', :target=>'_new'
  .rss= link_to image_tag('rss.gif'), :controller => 'events', :format => 'rss', :tags => @tag.name if !@events.empty? 

%h2=t(".events.title")
- if @events.empty? 
  %p=t(".events.empty")
- else
  = render :partial => 'events/list', :locals => {:title => t(".events.table_title"), :events => @events}
  
%h2=t(".initiators.title")

- if @organisations.empty? 
  %p=t(".initiators.empty") 
- else
  .tabletitle=t(".initiators.table.title")
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th=t(".initiators.table.head.initiator")
      %th=t(".initiators.table.head.themes")
    - @organisations.each_with_index do |organisation, index|
      %tr{:class => "#{'even' if index.even?}"}
        %td= link_to h( organisation.title), organisation
        %td= organisation.tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')

%br

- if !@related_tags.empty?
  %h2=t(".related.title")
  %p= @related_tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')

