-t_namespace("views.front.show")

-content_for :header do
  = auto_discovery_link_tag :rss, :controller => 'events', :format => 'rss', :tags => @tag.name

%h1= h @tag.name 

.contextmenu
  - if logged_in?
    - if current_user.tags.include? @tag 
      = link_to t(".theme.unsubscribe"), :controller => :users, :action => :del_tag, :id => current_user, :tag => @tag
    - else
      = link_to t(".theme.subscribe"), :controller => :users, :action => :add_tag, :id => current_user, :tag => @tag
    |
  = link_to t(".theme.whatis",:tag => @tag.name), 'http://de.wikipedia.org/wiki/Spezial:Suche?search=' + @tag.name + '&go=Artikel', :target=>'_new'
  .rss= link_to image_tag('rss.gif'), :controller => 'events', :format => 'rss', :tags => @tag.name if !@events.empty? 

%h2=t(".demonstrations.title")
- if @events.empty? 
  .q=t(".demonstrations.empty")
- else
  .tabletitle=t(".demonstrations.table.title")
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th=t(".demonstrations.table.time")
      %th=t(".demonstrations.table.name")
      %th=t(".demonstrations.table.place")
      - if( @with_distance)
        %th=t(".demonstrations.table.distance")
      
    - @events.each_with_index do |event, index|
      %tr{:class => "#{'even' if index.even?} #{'old' if event.startdate <= 6.hours.ago}"}
        - if l(event.startdate) == l(Time.now)
          %td
            .center
              .red=t(".demonstrations.table.today")
        - elsif event.startdate <= Time.now && event.startdate > 6.hours.ago
          %td
            .center
              .red=t(".demonstrations.table.now")
        - else
          %td= event.startdate && l(event.startdate)
        %td= link_to h( event.title), event
        %td= h( event.address)
        -if @with_distance       
          - if !event.distance.nil?
            %td= sprintf( "%.0f km", event.distance)  
          - else
            %td
            
%h2=t(".initiators.title")

- if @organisations.empty? 
  .q=t(".initiators.empty") 
- else
  .tabletitle=t(".initiators.table.title")
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %th=t(".initiators.table.initiator")
      %th=t(".initiators.table.themes")
    - @organisations.each_with_index do |organisation, index|
      %tr{:class => "#{'even' if index.even?}"}
        %td= link_to h( organisation.title), organisation
        %td= organisation.tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')

%br

- if !@related_tags.empty?
  %h2=t(".related.title")
  .q= @related_tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')

