
Es wurde ein neuer Kommentar eingegeben:

user: 
= @user.login
email: 
= @user.email
  
titel: 
= @comment.title

text: 
= @comment.comment

link: 
= "http://" + @url + event_path(@event) + "#" + String(@comment.id)
  