%h1= t(".title")
- if logged_in? 
  .contextmenu
    = link_to t(".contextmenu.new"), new_organisation_path
%br
.tabletitle
  = t(".table.title")
        
%table{:border=>0, :cellspacing=>0, :cellpadding=>0}
  %tr
    %td{:colspan=>"2"}
      .anchor_index
        - index_with_literals(@organisations).each_with_index do |letter, index|
          = " | " if index > 0 
          = link_to letter, "#" + letter
  %tr
    %th= t(".table.head.name")
    %th= t(".table.head.themes")
  - @organisations.each_with_index do |organisation, index|
    - if index == 0 || organisation.title.upcase[0] != @organisations[index-1].title.upcase[0]
      %tr
        %td{:class=> index==0 ? "separator_first" : "separator", :colspan=>2}
          %a{:name => organisation.title.upcase.split(//).first.tr('äöü','ÄÖÜ')}
          = organisation.title.upcase.split(//).first.tr('äöü','ÄÖÜ')
    %tr{:class => "#{'even' if index.even?}"}
      %td= link_to h( organisation.title), organisation 
      %td= organisation.tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ') 
