%h1= h @organisation.title

- if logged_in? 
  .contextmenu
    - if @organisation.bookmarked_by_user? current_user
      = link_to t(".contextmenu.unsubscribe"), url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :organisation => @organisation)
    - else
      = link_to t(".contextmenu.subscribe"), url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :organisation => @organisation)
    - allow :user => [:owns?, :is_admin?] do
      .div{ :class => organisation_owner_class}
        |
        = link_to t(".contextmenu.edit"), edit_organisation_path(@organisation) 
        |
        = link_to t(".contextmenu.delete"), @organisation, :confirm => t(".confirm.delete"), :method => :delete

%h2= t(".themes.title")
%p= @organisation.tags.map{|tag| link_to h(tag.name), {:controller=>:tag, :action=>tag.name}}.join(', ')
%h2= t(".description.title")
%p= sanitize @organisation.description
- if @organisation.link
  %h3= t(".description.info.title")
  %p= sanitize(  link_to( h( @organisation.link), @organisation.link, { :target=>'_new'}))

%h2=t(".demonstrations.title")
- if @organisation.events.empty? 
  %p=t(".demonstrations.empty")
- else
  .tabletitle=t(".demonstrations.table.title")
  %table{:border=>0, :cellspacing=>0, :cellpadding=>0}
    %tr
      %td{:colspan=>@with_distance?4:3}
        .anchor_index
          - index_with_year(@organisation.events).each_with_index do |year, index|
            = " | " if index > 0 
            = link_to year, "#" + String(year)
    %tr
      %th=t(".demonstrations.table.head.time")
      %th=t(".demonstrations.table.head.name")
      %th=t(".demonstrations.table.head.place")
      - if( @with_distance)
        %th=t(".demonstrations.table.head.distance")
      
    - @organisation.events.each_with_index do |event, index|
      - if index == 0 || event.startdate.to_date.year != @organisation.events[index-1].startdate.to_date.year
        %tr
          %td{:class=> index==0 ? "separator_first" : "separator", :colspan=>@with_distance?4:3}
            %a{:name => event.startdate.to_date.year}
            = event.startdate.to_date.year
      %tr{:class => "#{'even' if index.even?} #{'old' if event.startdate <= 6.hours.ago}"}
        %td.center
          %nobr= startdate_thisyear(event)
        %td
          = link_to h( event.title), event
          - if event.comments.size > 0
            = link_to " (" + String(event.comments.size) + ")", event_path(event) + "#comments"
        %td= h( event.address)
        -if @with_distance       
          - if !event.distance.nil?
            %td= sprintf( "%.0f km", event.distance)  
          - else
            %td
