- content_for :header do
  = javascript_include_tag 'textboxlist'
  = stylesheet_link_tag 'textboxlist'

%h1= t(".title")

.contextmenu
  = link_to t(".contextmenu.show"), @user  
%br
%p= t(".text")
 
- form_for(@user) do |f| 
  = f.error_messages 

  %h2= t(".data.title")

  %p
    = f.label :login, t(".data.field.name")
    = f.text_field :login, :size=>60

    = f.label :email, t(".data.field.email")
    = f.text_field :email, :size=>60

    = f.label :zip, t(".data.field.zip")
    = f.text_field :zip, :size=>5, :value=>@str_zip  

  %h2= t(".subscriptions.title")

  %p
    = f.label :tag_list, t(".subscriptions.field.tag_list")
    = f.text_field :tag_list, :size=>60, :autocomplete => "off" 
    #user_tag_list_auto_complete.auto_complete{:style=>'display:none'}

  .buttons
    = f.submit t(".submit")

= auto_complete_field 'user_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' '] }