%h1= t(".title")
%p= t(".text")
%h2= t(".data.title")

- form_for :user, :url => users_path do |f|
  %p
    = error_messages_for :user
  
  %p
    = f.label :login, t(".data.field.login")
    = f.text_field :login 

  %p
    = f.label :email, t(".data.field.email")
    = f.text_field :email 

  %p
    = f.label :password, t(".data.field.password")
    = f.password_field :password 

  %p
    = f.label :password_confirmation, t(".data.field.password_confirmation")
    = f.password_field :password_confirmation 
  
  %h2= t(".options.title")
  %p= t(".options.text")
  %p
    = f.label :zip, t(".options.zip")
    = f.text_field :zip, :size=>5, :value=>@zip_str  

  .buttons
    = submit_tag t(".submit")
