- content_for :header do
  = auto_discovery_link_tag :rss, :controller => 'events', :format => 'rss', :tags => @user.tags.join(',')

%h1= @user.login

.contextmenu
  =link_to t(".contextmenu.edit"), edit_user_path(@user)
%br
%p= t(".text") 

%h2= t(".data.title")

%p
  %b= t(".data.field.name")
  = h @user.login 

%p
  %b= t(".data.field.email")
  = h @user.email 

%p
  %b= t(".data.field.plz")
  - unless @user.zip.nil?
    = h @user.zip.zip
    = h @user.zip.name
     
%h2= t(".owned.title")
- unless @organisations.empty?
  %h3= t(".owned.organisations.title")
  %p= @organisations.map{|organisation| link_to h( organisation.title), organisation}.join(', ')

- unless @events.empty?
  %h3= t(".owned.events.title")
  %p= @events.map{|event| link_to h( event.title), event}.join(', ')

- unless @user.tags.empty? && @user.bookmarks.empty?
  %h2= t(".subscriptions.title")

  - unless @user.tags.empty?
    %h3= t(".subscriptions.themes.title")
    %p= @user.tags.map{|tag| link_to h( tag.name), {:controller=>:tag, :action=>tag}}.join(', ')
    %p
      = link_to image_tag('rss.gif',:class => 'rss'), :controller => 'events', :format => 'rss', :tags => @user.tags.join(',') if !@user.tags.empty? 
      = link_to t(".subscriptions.themes.rss"), :controller => 'events', :format => 'rss', :tags => @user.tags.join(',') if !@user.tags.empty? 

    - unless @user.bookmarks.empty?
      %h3= t(".subscriptions.events_organisations.title")
      %p
        %ul
          - @user.bookmarks.each do |bm|
            %li= link_to h( bm.title), bm.bookmarkable

