- content_for :header do
  = auto_discovery_link_tag :rss, :format => 'rss'

%h1= t(".title")

.contextmenu
  = link_to t(".contextmenu.current"), events_path
  - if logged_in? 
    |
    = link_to t(".contextmenu.new"), new_event_path
    
%br

= render :partial => 'events/list', :locals => {:title => t(".events.table_title"), :events => @events}
