%h1=t(".title")

.contextmenu
  = link_to t(".contextmenu.show"), @event 
  |
  = link_to t(".contextmenu.back"), events_path

- form_for(@event, :html => { :onSubmit => 'return geocodeAddress(event_zip);' }) do |f|
  = render :partial => 'fields', :locals => {:f => f}
  
  .buttons= f.submit t(".button.submit")

= auto_complete_field 'event_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
