- content_for :header do
  = auto_discovery_link_tag :rss, :format => 'rss'

%h1= t(".title")

.contextmenu
  .balancer
  .balancer
  .balancer
  = link_to t(".contextmenu.archive"), archive_events_path
  - if logged_in? 
    |
    = link_to t(".contextmenu.new"), new_event_path
  |
  = link_to t(".contextmenu.map"), map_events_path
  .rss= link_to image_tag('rss.gif'), :format => 'rss'
  .ical= link_to image_tag('ical.gif'), :format => 'ics'
  .twitter= link_to image_tag('twitter.gif'), "http://twitter.com/demowatch"
    
%br

= render :partial => 'events/list', :locals => {:title => t(".table_title"), :events => @events, :index_type => Event::Monthly }

