- t_namespace("views.events.new")
%h1= t(".title")

.contextmenu
  = link_to t(".contextmenu.back"), events_path 

- form_for(@event, :html => { :onSubmit => 'return geocodeAddress(event_zip);' }) do |f|
  = render :partial => 'fields', :locals => {:f => f}

  - # workaround to reactivate namespace after rendering fields
  - t_namespace("views.events.new") 

  .buttons= f.submit t(".button.submit")

= auto_complete_field 'event_tag_list', {:url => { :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
