- content_for :header do
  = javascript_include_tag 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAbmKt_bX8rXoUBM2tWSorIRTnBMjsH0Y2aRb-_04glZphNt2GURSXRZg8NE723uvkLLIsOlfTgHhmzA&dummy=xxxx', 'geocode'
  
.ical= link_to image_tag('ical.gif'), :format => 'ics'
%h1= h @event.title

- if logged_in?
  .contextmenu
    - if @event.bookmarked_by_user? current_user
      = link_to t(".contextmenu.unsubscribe"), url_for(:controller => 'users',:action => 'unbookmark', :id => current_user, :event => @event)
    - else
      = link_to t(".contextmenu.subscribe"), url_for(:controller => 'users',:action => 'bookmark', :id => current_user, :event => @event)
    - allow :user => [:owns?, :is_admin?] do
      %div{ :class => event_owner_class}
        | 
        = link_to t(".contextmenu.edit"), edit_event_path(@event)
        |
        = link_to t(".contextmenu.delete"), @event, :confirm => t(".confirm.delete"), :method => :delete
        
%h2= t(".themes.title")
%p= @event.tags.map{|tag| link_to h( tag.name), :controller=>:tag, :action=>tag.name}.join(', ')

%h2= t(".venue.title")
%p
  - if @event.startdate <= 6.hours.ago
    = t(".venue.startdate.past", :startdate => l(@event.startdate,:format => "long_verbal") )
  - elsif @event.startdate.to_date.eql?(Time.now.to_date-1)
    = t(".venue.startdate.yesterday", :startdate => l(@event.startdate,:format => "long_verbal"))
  - elsif @event.startdate <= Time.now
    = t(".venue.startdate.now", :startdate => l(@event.startdate,:format => "long_verbal"))
  - elsif @event.startdate.to_date.eql?(Time.now.to_date+1)
    = t(".venue.startdate.tomorrow", :startdate => l(@event.startdate,:format => "long_verbal"))
  - elsif @event.startdate <= 7.9.days.from_now
    = t(".venue.startdate.soon", :timespan => time_ago_in_words(@event.startdate), :startdate => l(@event.startdate,:format => "long_verbal"))
  - else
    = t(".venue.startdate.future", :timespan => time_ago_in_words(@event.startdate), :startdate => l(@event.startdate,:format => "long_verbal"))
  = t(".venue.address", :address => @event.address)
  = t(".venue.location", :location => h(@event.location)) if @event.location?
  
#map_canvas.indent{:style=>"width: 550px; height: 300px; border:solid 1px;"}
  
:javascript
  if (GBrowserIsCompatible()) {
  var map = new GMap2(document.getElementById("map_canvas"));
  map.addControl(new GLargeMapControl());
  map.setCenter(new GLatLng(#{@event.latitude.to_f}, #{@event.longitude.to_f}), 15);
  map.openInfoWindowHtml(map.getCenter(),"<strong>#{html_escape @event.title},</strong>"+
  "<br/><br/>#{@event.startdate && l(@event.startdate,:format => "long_verbal")},"+
  "<br/>#{html_escape @event.address}<br/>#{'(' + html_escape( @event.location) + ')' if @event.location?}");}

%h2= t(".description.title")
%p= sanitize @event.description

%h3= t(".description.initiator.title")
%p
  = t(".description.initiator.text")
  = link_to h( @event.organisation.title), @event.organisation 
